<?xml version="1.0" ?>
<robot name="mecanum_wheel" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fuji_mecanum)/urdf/wheel.xacro" />
  <xacro:include filename="$(find fuji_mecanum)/urdf/rollers.xacro"  />

  <xacro:macro name="mecanum_wheel" params="name side interface">  
    
    <xacro:wheel_link name="${name}" side="${side}" />    
    <xacro:rollers_link name="${name}" side="${side}" />

    <transmission name="${name}_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_wheel_joint">
        <hardwareInterface>${interface}</hardwareInterface>
      </joint>
      <actuator name="${name}_wheel_motor">
        <hardwareInterface>${interface}</hardwareInterface>
        <mechanismReduction>1</mechanismReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>