<?xml version="1.0" ?>
<robot name="wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheel_link" params="name side">
    <link name="${name}_wheel_link">      
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_wheel_description/mesh/visual/wheel.dae" scale="${side} 1 1" />
        </geometry>        
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://mecanum_wheel_description/mesh/collision/wheel.stl" scale="${side} 1 1" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" />
        <mass value="2.0" />
        <inertia ixx="0.042025" ixy="0.0" ixz="0.0"
                iyy="0.024279" iyz="0.0"
                izz="0.024279" />
      </inertial>
    </link>

    <gazebo reference="${name}_wheel_link">
      <mu1 value="0.6"/>
      <mu2 value="0.6"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <fdir1 value="0 1 0"/>
    </gazebo>

  </xacro:macro>

</robot>
